################################################################################
## ~/.inputrc
##
## Control the behaviour of the readline library used e.g.
## by the bash in the interactive mode for line editing.
##
################################################################################
#
# The bell style used e.g. on error or tab completion, possible values
# are `none', `visible', and `audible' the ringing the bell.
#
#set bell-style none

#
# If set to on, words which have more than one possible completion without
# any possible partial completion cause the matches to be listed immediately
# instead of ringing the bell.
#
#set show-all-if-unmodified on

#
# If set to on, words which have more than one possible completion cause the
# matches to be listed immediately instead of ringing the bell.
#
set show-all-if-ambiguous on

# Displays possible completions using different colors to indicate their file
# type. The color definitions are taken from the value of the LS_COLORS
# environment variable.
set colored-stats on

# Perform filename matching and completion in a case-insensitive fashion.
set completion-ignore-case on


# Displays the common prefix of the set of possible completions using a
# different color. The color definitions are taken from the value of the
# LS_COLORS environment variable. If there is a color definition in $LS_COLORS
# for the custom suffix “readline-colored-completion-prefix”, readline uses
# this color for the common prefix instead of its default.
set colored-completion-prefix on

#
# end
#
